In [3]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv("../data/raw/train.csv")
test = pd.read_csv("../data/raw/test.csv")
test['Survived'] = np.nan

data = pd.concat([train, test], axis=0)

## Age by honorific

In [14]:
for t in ["Mr.", "Miss.", "Mrs.", "Master."]:
    t_idx = data["Name"].str.contains(t)
    data['honorific'][t_idx] = t

<ipython-input-14-424ae3a4e212>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['honorific'][t_idx] = t

In [15]:
data.groupby('honorific')['Age'].mean()

honorific
Master.     5.482642
Miss.      21.776875
Mr.        32.280928
Mrs.       37.674877
Name: Age, dtype: float64

## Average Fare

In [17]:
data.groupby('honorific')['Fare'].mean()

honorific
Master.    36.008195
Miss.      42.864601
Mr.        24.838633
Mrs.       49.534806
Name: Fare, dtype: float64